<a href="https://colab.research.google.com/github/digvijaysingh21/AI_ML_Libraries_foundational/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:

#A DataFrame is a 2-dimensional labeled data structure with columns that can be of different types (e.g., integers, strings, floats).

In [26]:
#creating DataFrames from a dictionary
data = {
    'name' : ['Ram', 'Laxma', 'Bharat', 'Satrudhan'],
    'age': [30,25,20,18],
     'city': ['Ayodhya','Mithila','Bihar',"Uttar Pradesh"]
}

df = pd.DataFrame(data)
print(df)

        name  age           city
0        Ram   30        Ayodhya
1      Laxma   25        Mithila
2     Bharat   20          Bihar
3  Satrudhan   18  Uttar Pradesh

In [27]:
#creating DataFrames from a list of lists

data = [
    ['Ram',30,'Ayodhya'],
    ['Laxman',25,'Mithila'],
    ['Bharat',20,'Bihar'],
    ['Sathrudhan',18,'Uttar Pradesh']
]

df = pd.DataFrame(data, columns=['name','age','city'])
print(df)

         name  age           city
0         Ram   30        Ayodhya
1      Laxman   25        Mithila
2      Bharat   20          Bihar
3  Sathrudhan   18  Uttar Pradesh

**Pandas can read data from a variety of file format like CSV,Excel, SQL etc**

In [6]:
#Reading from CSV file
df = pd.read_csv('file_path.csv')

In [ ]:
#Reading file from Excel
df = pd.read_excel('file_path.xlsx', sheet_name='Sheet1')

**`Basic DataFrame Operations`**

In [ ]:
#View data

#shows first 5 rows
df.head()


#shows the last 5 rows
df.tail()

#provides summary information about the dataFrame (e.g column types and non-null values)
df.info()

#gives summary statistics of numerical cloumns
df.describe()

In [11]:
#Selecting columns

# print(df['name'])

print(df[['name','age']])

        name  age
0        Ram   30
1      Laxma   25
2     Bharat   20
3  Satrudhan   18

In [18]:
#Filtering rows
#we can filter rows based on conditions

# print(df[df['age'] > 17])


# print(df[(condition 1) & (condition 2)]) for multiple conditions

print(df[(df['age'] > 17) & (df['city'] == 'Ayodhya')])

  name  age     city
0  Ram   30  Ayodhya

In [22]:
#sorting data
df_sorted = df.sort_values(by='age', ascending=True)
print(df_sorted)

        name  age           city
3  Satrudhan   18  Uttar Pradesh
2     Bharat   20          Bihar
1      Laxma   25        Mithila
0        Ram   30        Ayodhya

**Data Cleaning**

In [ ]:
#Handling missing data
df.isnull()

In [ ]:
#Drop rows with missing values
df = df.dropna()

In [ ]:
#fill missing values with a specific value
df = df.fillna(value={'age':30, 'city': 'Unknown'})
print(df)

In [ ]:
#renaming columns
df = df.rename(columns={'name': 'full_name', 'age': 'yeras_old'})
print(df)

In [30]:
#column data types
df['age'] = df['age'].astype(float)
print(df)

         name   age           city
0         Ram  30.0        Ayodhya
1      Laxman  25.0        Mithila
2      Bharat  20.0          Bihar
3  Sathrudhan  18.0  Uttar Pradesh